.affiliate-stat {
  margin: 0;
  padding: 15px;
  font-size: 1.6em;
  text-align: center;
}

.affiliate-stat span {
  display: block;
  font-size: 2.4em;
}

.affiliate-stat i {
  float: left;
  padding: 10px;
  font-size: 4em;
}

@media (max-width: 1200px) {
  .affiliate-stat {
    font-size: 1.2em;
  }
  .affiliate-stat span {
    font-size: 2.1em;
  }
  .affiliate-stat i {
    font-size: 3.6em;
  }
}

@media (max-width: 992px) {
  .affiliate-stat {
    font-size: 1.0em;
  }
  .affiliate-stat span {
    font-size: 1.6em;
  }
  .affiliate-stat i {
    font-size: 3em;
  }
}
