.client-home-cards {
    .card {
      font-size: 0.9em;
    }
    .card-header {
        background-color: #fff;
        border-bottom: 0;
        font-weight: bold;

        .btn {
          color: var(--text-inverted);
          border: 0;

          &:hover {
            color: var(--text);
          }
        }
    }
    .card-title {
        font-size: 16px;
    }
    .card-body {
      padding: 0;
      max-height: fit-content;
      overflow: auto;

      p {
        padding: 10px 15px;
      }
    }
    .card-footer {
      border-top: 0;
    }

    .list-group {
      max-height: 170px;
      overflow: auto;
      border-radius: 0;
      border-top: 1px solid #ddd !important;
      border-bottom: 1px solid #ddd !important;

      .list-group-item {
        padding: 4px 10px;
        border: 0;
        border-bottom: 1px solid #ddd;

        &:last-child {
          border-bottom: 0;
        }
      }
    }
  
    small {
      color: #888;
    }
}

.promotions-slider-control {
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231c3965' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231c3965' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
}

/**
 * -------------------------
 * Client Homepage Tiles
 * -------------------------
 */

.tiles {
  .tile {
    display: block;
    position: relative;
    padding: 12px 20px;
    background-color: #f8f8f8;
    border-right: 1px solid #ccc;
    text-decoration: none;
    transition: all 0.3s ease;

    .stat {
      margin-top: 20px;
      font-size: 40px;
      line-height: 1;
    }

    .title {
      font-weight: bold;
      color: #888;
      text-transform: uppercase;
      font-size: 12px;
    }

    .highlight {
      margin-top: 4px;
      height: 2px;
      border-radius: var(--rounding-sm);
    }

    i {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 55px;
      line-height: 1;
      color: #ccc;
      transition: all 0.3s ease;
    }

    &:hover {
      background-color: #f2f2f2;
      cursor: pointer;

      i {
        font-size: 70px;
        color: #aaa;
      }
    }
  }
  .row > div:last-child .tile {
    border: 0;
  }
}

@include media-breakpoint-down(lg) {
  .tiles div:nth-child(2) > .tile {
    border: 0;
  }
  .tiles div:nth-child(1) > .tile,
  .tiles div:nth-child(2) > .tile {
    border-bottom: 1px solid #ccc;
  }
}

.carousel-item.item {
  float: none;
}

.carousel-inner {
  .carousel-item.item {
    float: left;
  }
}

div[menuitemname='Active Products/Services'] {
  .list-group {
    overflow: initial !important;
    max-height: initial !important;
    border-bottom: 0px !important;
  }
  .list-group .list-group-item:nth-child(n+5) {
    display: none;
  }
  .card-footer {
    border-top: 1px;
    padding: 0.188rem 1.25rem;
  }
  .btn-view-more {
    font-size: 0.75rem;
  }
  .btn-view-more.disabled {
    cursor: default;
    text-decoration: none;
    color: #6c757d;
  }
}
.div-service-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.div-service-status {
  text-align: center;
  .label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    display: inline-block;
    line-height: initial;
    margin: 0;
  }
  .label-placeholder {
    position: absolute;
    visibility: hidden;
  }
  .label:not(.label-placeholder) {
    width: 3rem;
  }
}
.div-service-name {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  & > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.div-service-buttons {
  margin-left: auto;
  .disabled {
    cursor: default;
  }
  .dropdown-item {
    font-size: 0.875rem;
  }
  .btn-group-secondary,
  .btn-view-details span:not(.sr-only) {
    display: none;
  }
  .dropdown-toggle::after {
    margin-left: 0;
  }
}
@include media-breakpoint-up(md) {
  .div-service-status .label {
    width: initial !important;
  }
  .div-service-buttons {
    .btn-view-details i,
    .btn-group-primary {
      display: none;
    }
    .btn-group-secondary {
      display: inline-flex;
    }
    .btn-view-details span:not(.sr-only):not(.caret) {
      display: initial !important;
    }
  }
}

.recaptcha-content-domain-checker {
  padding-right: 15px;
  margin-left: -15px;
}

.google-recaptcha-align {
  padding-top: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

@media (max-width: 768px) {
  .google-recaptcha-align {
    padding-left: 15px;
    padding-right: 15px;
  }
}


// home - when user logged in
body .primary-content .client-home-cards .card {
  border-top: 1px solid var(--border-muted);

  .card-header {
    border-radius: var(--rounding-md) var(--rounding-md) 0 0;

    .btn {
      background: white;
      color: var(--text);
      border: 1px solid var(--border);
      border-radius: var(--rounding-sm);
      padding: 0.375rem 0.75rem;

      &:hover {
        background: var(--grayscale-lifted);
        border-color: var(--grayscale-lifted);
        color: white;
      }
    }
  }

  .list-group .list-group-item {
    padding: 4px 20px;
  }

  .card-footer {
    background: white;
    border-radius: 0 0 var(--rounding-md) var(--rounding-md);

    .btn-view-more {
      color: var(--text);
    }
  }

  .btn-success {
    background: var(--bg-inverted);
    border-color: var(--grayscale);

    &:hover {
      background: var(--grayscale-lifted);
      border-color: var(--grayscale-lifted);
    }
  }
}

// Pay All button

body [menuitemname='My Invoices Summary'] .col-button-left {
padding: 0;
}

// View Ticket
body .card.view-ticket {

  .card-body:first-child {
    border-radius: var(--rounding-md) var(--rounding-md) 0 0;
  }
  .posted-by {
    border-radius: var(--rounding-md);
  }
}

// My Domains > Edit Contact Information
body .list-group-item:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

body .list-group-item:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

// My Domains > Renew Domains
body .secondary-cart-body #domainRenewals {
  background-color: white;
  border: 1px solid var(--border-muted);
  border-radius: var(--rounding-md);

  .domain-renewal {
    border-bottom: 1px solid var(--border-muted);


    &:last-child {
      border-radius: 0 0 var(--rounding-md) var(--rounding-md);
      border-bottom: none;
    }
  }
}

// My Domains > Auto Renewal Status > Enable auto renew btn
body .primary-content .btn-success.btn-lg[name='enable'] {
  background: var(--bg-inverted);
  border-color: var(--grayscale);

  &:hover {
    background: var(--grayscale-lifted);
    border-color: var(--grayscale-lifted);
  }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(51, 102, 153, 0.25);
    }
}