.verification-banner {
  margin: 0;
  padding: 10px;
  font-weight: 300;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  color: #333;

  .text {
    display: block;
    padding: 6px 0;
  }
  .btn {
    margin: 3px 0;
    padding: 3px 10px;
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .btn.close {
    margin-left: 10px;
    background-color: transparent;
    color: rgba(55, 55, 55, 0.5);
    font-size: 22px;
    opacity: 1;
  }
  .btn.close:hover {
    color: rgba(55, 55, 55, 0.8);
  }
  .fas,
  .fal,
  .far {
    color: #666;
    float: left;
    padding: 2px 10px 0 0;
    font-size: 24px;
  }

  @media (min-width: 768px) {
    .text {
      padding-top: 9px;
      padding-bottom: 0;
    }
    .btn {
      margin: 0;
      padding: 9px 25px;
    }
    .button {
      float: right;
    }
    .fas,
    .fal,
    .far {
      font-size: 36px;
    }
  }

}

.verification-banner.email-verification {
  .btn.btn-action,
  .btn.btn-action:active,
  .btn.btn-action[disabled]:hover {
    background-color: #50525f;
    border-color: #50525f;
    color: #fff;
  }
}

.verification-banner.user-validation i {
  margin-left:0.11em
}