
.featured-tlds-container {
  margin: 35px 0 15px;
}

.featured-tld {
  margin: 0 0 20px 0;
  border-radius: var(--rounding-sm);
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(0,0,0,.1);
}
.featured-tld .img-container {
  padding: 20px 0;
  height: 115px;
  line-height: 75px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 767px) {
  .featured-tld .img-container {
    height: 80px;
    line-height: 40px;
  }
}
.featured-tld .img-container img {
  max-width: 70%;
  max-height: 100%;
}
.featured-tld .price {
  padding: 5px;
  background-color: #f9f9f9;
  color: #555;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  border-radius: 0 0 var(--rounding-sm) var(--rounding-sm);
}

.featured-tld .price.blog {
  background-color: #a0d5cb;
  color: #fff;
}
.featured-tld .price.club {
  background-color: #053796;
  color: #fff;
}
.featured-tld .price.com {
  background-color: #3aa4da;
  color: #fff;
}
.featured-tld .price.couk {
  background-color: #1d3774;
  color: #fff;
}
.featured-tld .price.host {
  background-color: #ed4d42;
  color: #fff;
}
.featured-tld .price.live {
  background-color: #ff9e19;
  color: #fff;
}
.featured-tld .price.name {
  background-color: #44b03e;
  color: #fff;
}
.featured-tld .price.net {
  background-color: #efc00e;
  color: #fff;
}
.featured-tld .price.online {
  background-color: #38ce6a;
  color: #fff;
}
.featured-tld .price.rocks {
  background-color: #fd563c;
  color: #fff;
}
.featured-tld .price.shop {
  background-color: #ff5900;
  color: #fff;
}
.featured-tld .price.social {
  background-color: #ff9a00;
  color: #fff;
}
.featured-tld .price.store {
  background-color: #0eadb3;
  color: #fff;
}
.featured-tld .price.tech {
  background-color: #0db04b;
  color: #fff;
}
.featured-tld .price.tv {
  background-color: #ea3438;
  color: #fff;
}
.featured-tld .price.website {
  background-color: #2db9ea;
  color: #fff;
}

.tld-filters {
  margin: 0 0 25px 0;
}
.tld-filters a {
  display: inline-block;
  margin-bottom: 4px;
  padding: 5px 6px;
  font-size: 90%;
  font-weight: normal;
  border-radius: var(--rounding-sm);
}


.domain-pricing .tld-row {
  padding-top: 3px;
  padding-bottom: 3px;
  border-bottom: 1px solid #f5f5f5;
}
.domain-pricing .tld-row.highlighted {
  background: #f3f9fd;
}

.domain-pricing .tld-pricing-header .col-xs-2,
.domain-pricing .tld-pricing-header .col-sm-2 {
  height: 56px;
}
.domain-pricing .tld-pricing-header .col-xs-2,
.domain-pricing .tld-pricing-header .col-sm-2,
.domain-pricing .tld-pricing-header .col-xs-4,
.domain-pricing .tld-pricing-header .col-sm-4 {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 6px solid #97b5d2;
  background-color: #efefef;
  border-radius: var(--rounding-sm) var(--rounding-sm) 0 0;
}
.domain-pricing .no-bg {
  background-color: transparent !important;
}
.domain-pricing .tld-pricing-header div:nth-child(odd) {
  border-color: #336699;
  background-color: #f5f5f5;
}
.domain-pricing .two-row-center {
  line-height: 28px;
  margin-top: 6px;
  margin-bottom: 6px;

  @include media-breakpoint-up(md) {
    border-right: 2px solid #c7d7e6;
  }
}

.domain-pricing .tld-row.no-tlds {
  display: none;
}

.tld-sale-group {
  padding: 1px 3px;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
}
.tld-sale-group-hot {
  background-color: #f9615a;
}
.tld-sale-group-sale {
  background-color: #f7d458;
}
.tld-sale-group-new {
  background-color: #2ad588;
}
